<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Ross</title>
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">
</head>

<body>
  <%- include('partials/navbar.ejs'); %>
  <header id="header">
    <div class="container section ">
      <div class="center-align">
        <h3>Hi, I'm Alex!</h3>
        <div class="row">
          <div class="col-lg-4">
            <img src="/images/me.jpg" alt="Alex" class="profile-image">
          </div>
          <p class="center-align flow-text about hide-on-small-only">
            Welcome to my site. I like to go for runs, I like to read, and I like to code.
            I've been a programmer for a couple years now mainly working on a project using the Quasar framework (Vue.js) for the frontend, .NET framework
            (C#) for the API and an SQL Server database.
            In my free time I'm learning to build a MERN stack application.
            Below I have some projects that I've worked on and a list of books that I've read.
          </p>
        </div>
      </div>
    </div>
  </header>


  <!-- wave parallax  -->
  <div class="parallax-container">
    <div class="parallax scrollspy">
      <img src="/images/waves.jpg" alt="" class="responsive-img">
    </div>
  </div>

  <div id="projects" class="container">
    <h2>Projects</h2>
    <div class="row">
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="/images/workout.jpg" alt="">
            <a href="https://workout-viz.herokuapp.com/" class="halfway-fab btn-floating blue">
              <i class="material-icons">fitness_center</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">Workout Viz</span>
            <p>In 2019 I did 30 minute workouts on the eliptical machine at my
              local city gym every other day.
              After each workout I noted in the app the time of day, distance ran in miles, calories burned and total
              strides taken.
              This Node.js app is connected to my remote MongoDB collection.</p>
          </div>
          <div class="card-action">
            <a href="https://workout-viz.herokuapp.com/">Go to site</a>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="/images/plant.png" alt="">
            <a href="https://github.com/alexross93/subartic-plant-tracker" class="halfway-fab btn-floating green">
              <i class="material-icons">local_florist</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">Subartic Plant Tracker</span>
            <p>I learned how to code in C# by creating this app which includes full database connectivity
              to MS SQL 2017 and a dynamic sort feature. The data was taken from a csv file that contained
              different subartic plants with all their various properties.
              I found that this was a great way to learn a new programming language.
            </p>
          </div>
          <div class="card-action">
            <a href="https://github.com/alexross93/subartic-plant-tracker">Go to GitHub repo</a>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="/images/notes.png" alt="">
            <a href="https://github.com/alexross93/custom-txt-to-json" class="halfway-fab btn-floating orange">
              <i class="material-icons">format_align_left</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">Custom Txt To Json</span>
            <p>I made this Python app because I needed to convert all of my workout notes to JSON
              and then insert them into my remote MongoDB collection connected to the Workout-viz
              app using it&apos;s REST API via Postman.</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/alexross93/custom-txt-to-json">Go to GitHub repo</a>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="/images/ebook.png" alt="">
            <a href="https://writepub.herokuapp.com/" class="halfway-fab btn-floating red">
              <i class="material-icons">book</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">WritePub</span>
            <p>I collaborated on an Agile software development project with fellow classmates
              in creating a website for aspiring authors who want to have their work published
              on e-books. In coordination with the client we came up with several functional requirments.
              I primarily worked on the user authentication for sign up and log in features.
            </p>
          </div>
          <div class="card-action">
            <a href="https://writepub.herokuapp.com/">Go to site</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- beach parallax  -->
  <div id="books" class="parallax-container services-img scrollspy">
    <div class="parallax">
      <img src="/images/beach.jpg" alt="" class="responsive-img">
    </div>
  </div>

  <!-- books -->
  <div class="container books">
    <h2> 2021 Reading List </h2>
    <ul style="margin-left: 25px;">
      <li>The Pragmatic Programmer by Andy Hunt and Dave Thomas</li>
      <li>Sapiens by Yuval Noah Harari</li>
      <li>Millionaire Teacher by Andrew Hallam</li>
      <li>Ten Arguments for Deleting Your Social Media Accounts Right Now by Jaron Lanier</li>
      <li>The Self‑Taught Programmer by Cory Althoff</li>
    </ul>
    <h2> 2020 Reading List </h2>
    <ul style="margin-left: 25px;">
      <li>The Craving Mind by Judson Brewer</li>
      <li>Endurance: Shackleton's Incredible Voyage by Alfred Lansing</li>
      <li>The Wealthy Barber Returns by David Chilton </li>
      <li>Drive by Daniel Pink </li>
      <li>Digital Minimalism by Cal Newport </li>
      <li>What I Talk About When I Talk About Running by Haruki Murakami </li>
      <li>The Great Gatsby by F.Scott Fitzgerald </li>
      <li>Hear The Wind Sing by Haruki Murakami </li>
      <li>How To Talk So Little Kids Will Listen by Joanna Faber and Julie King </li>
      <li>Ten Lessons for a Post-Pandemic World by Fareed Zakaria </li>
      <li>The Value of Simple by John Robertson</li>
    </ul>
    <h2> 2019 Reading List </h2>
    <ul style="margin-left: 25px;">
      <li>Can&apos;t Hurt Me by David Goggins </li>
      <li>Toddlers by Joanne Mallon </li>
      <li>Shoe Dog by Phil Knight </li>
      <li>The Relaxed Mind by Dza Kilung Rinpoche </li>
      <li>The Happiness Hypothesis by Jon Haidt </li>
      <li>Island of the Lost by Joan Druett </li>
      <li>How Your Car Works by Arvid Linde </li>
      <li>The Float Tank Cure by Shane Scott </li>
      <li>Atomic Habits by James Clear </li>
      <li>Code by Charles Petzold </li>
      <li>The Subtle Art of Not Giving a F*ck by Mark Mason </li>
      <li>Into Thin Air by Jon Krakauer </li>
      <li>The Untethered Soul by Micheal Singer </li>
      <li>Habits of a Happy Brain by Loretta Breunig </li>
      <li>The 7 Habits of Highly Effective People by Stephen Covey </li>
      <li>How to Win Friends and Influence People by Dale Carnegie </li>
      <li>The Obstacle is the Way by Ryan Holiday </li>
      <li>How to Stop Worrying and Start Living by Dale Carnegie </li>
      <li>Benjamin Franklin: An American Life by Walter Isaacson </li>
    </ul>
  </div>
  </br>

  <footer class="page-footer blue darken-3">
    <!-- contact  -->
    <div class="container" id="contact">
      <div class="row">
        <div class="col s12 l5">
          <h2>Contact</h2>
          <p>
            <a href="mailto:alex.graham.ross@gmail.com" class="btn-floating btn-small blue">
              <i class="fa fa-envelope"></i>
            </a>
            alex.graham.ross@gmail.com
          </p>
          <p>
            <a href="https://github.com/alexross93" class="btn-floating btn-small blue">
              <i class="fab fa-github"></i>
            </a>
            github.com/alexross93
          </p>
          </br>
        </div>
      </div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.tooltipped').tooltip();
      $('.scrollspy').scrollSpy();
      $('.modal').modal();
    });
  </script>
</body>

</html>