<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Ross</title>
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">
</head>

<body class="home">
  <%- include('partials/navbar.ejs'); %>
  <header id="header">
    <center>
      <div class="container section">
          <div class="row">
            <h3>Hi, I'm Alex !!</h3>
          </div>
          <div class="row">
              <div class="profile-background col-lg-4">
                  <img src="/images/me.jpeg" alt="Alex" class="profile-image">
              </div>
              <p class="about">
                  Welcome to my site. One of the things I love most about programming
                  is the thrill (and struggle) of working on and solving any given problem.
                  It's really exciting to be in a field where I am constantly learning 
                  and pushing myself to develop quality applicaitons.
                  That is why I will be using this site to show the personal projects
                  I will be developing in 2019. I'll also be keeping an updated list of all the books
                  I read this year.
                </p>
          </div>
      </div>
    </center>
  </header>


  <!-- wave parallax  -->
  <div class="parallax-container">
      <div class="parallax">
        <img src="/images/waves.jpg" alt="" class="responsive-img">
      </div>
      <section class="section container scrollspy" >
          <div class="white-text midline textshadow"">
            
        </div>
      </section>
    </div>


  <!-- books -->
  <div id="books" class="books">
      <ul>
          <h2> Books that I&apos;ve read in 2019</h2>
          <li> Test by Alex</li>
      </ul>
  </div>
  </br>
  </br>


 <!-- more  -->
  <div class="parallax-container services-img">
    <div class="parallax">
      <img src="/images/beach.jpg" alt="" class="responsive-img">
    </div>
    <section class="section container scrollspy" id="books">
        <div class="row">
           
      </div>
    </section>
  </div>

  <!-- contact  -->
  <section class="section container scrollspy" id="contact">
      <div class="row">
        <div class="col s12 l5">
          <h2 class="grey-text text-darken-3" class="verdana">Contact</h2>
          <h4>alex.graham.ross@gmail.com</h4>
        </div>
      </div>
    </section>
  

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
    $('.parallax').parallax();
    $('.tabs').tabs();
    $('.tooltipped').tooltip();
    $('.scrollspy').scrollSpy();
    $('.modal').modal(); 
  });

 console.log("TEST BRANCH");
  
</script>  
</body>

</html>