h3{
  margin-top: 10%;
  padding-top: 5%;
  font-family: Century Gothic;
}

.hi {

  font-size: 2vw; 
  width: 75%;
}

.about {
  font-size: 2rem; 
}

.books {
  font-size: 1.5vw; 
  width: 75%;
  margin:auto;
  text-align: left;
}

body.home nav {
  position: fixed;
  z-index: 999;
}

body {
  background-color: #e3f2fd;
  font-family: Century Gothic;
}

.para-image {
  width:100%;
  display:block
}

/* profile section */

.profile-image { 
  height:250px;
  border-radius:50%;
  margin:2.5rem auto;
}


nav {
  background: #1565c0;
}

.no-padding {
  padding: 0px !important;
}

.bottom-padding {
  padding-bottom: 55px !important;
}

li {
  margin-left: 10px;
  list-style-type: circle;
  display: list-item;
}

.list-item {
  list-style-type: circle;
  display: list-item;
}
